<!DOCTYPE html>
<html data-ng-app="messagesApp">
    <head>
        <title>Angular Messenger</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="styles/foundation.css" rel="stylesheet" type="text/css">
        <link href="styles/style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body data-ng-controller="MessagesCtrl">
        <div id="container">
            <div class="row">
                <div class="large-6 large-centered columns">
                    <h2>Your message:</h2>
                    <div>
                        <textarea rows="1" cols="40" placeholder="Type a messsage" data-ng-model="currentMessage"></textarea>
                        <br/>
                        <button type="button" data-ng-click="sendText()" data-ng-disabled="currentMessage.length < 1" class="button success">Send</button>
                    </div>
                    <mytitle msg="'Messages'"></mytitle>
                    <messages></messages>
                </div>
            </div>
        </div>
        <script src="libs/angular/angular.js" type="text/javascript"></script>
        <script src="src.js" type="text/javascript"></script>
    </body>
</html>
