<!DOCTYPE html>
<html data-ng-app="messagesApp">
    <head>
        <title>NetBeans Messages Sample Application</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="styles/style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body data-ng-controller="MessagesCtrl">
        <div id="container">
            <h2>Your message:</h2>
            <div>
                <textarea rows="1" cols="40" placeholder="Type a messsage" data-ng-model="currentMessage">

                </textarea><br/>
                <button type="button" data-ng-click="sendText()" data-ng-disabled="currentMessage.length < 1">Send</button>
            </div>

            <mytitle msg="'Messages'"></mytitle>
            <messages></messages>

        </div>
        <script src="libs/angular/angular.js" type="text/javascript"></script>
        <script src="src.js" type="text/javascript"></script>
    </body>
</html>
